# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# User data
*.xccheckout
*.moved-aside
*.xcuserdatad
*.xcscmblueprint

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Secrets / config
.env
*.key
*.p8
GoogleService-Info.plist
